/* välkkyvä kortti */
.blinker {
    animation: blinker 0.3s step-start infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

/* välähtävä kortti */

.flashfade {
    animation:flashfade 300ms infinite;
    -webkit-animation:flashfade 300ms infinite;
  }
  
@keyframes flashfade {
    from { 
        opacity: 1.0; 
    }
    50% { 
        opacity: 0.3; 
    }
    to { 
        opacity: 1.0; 
    }
}                                                                                                                                                                                                                                  

@-webkit-keyframes flashfade {
    from { 
        opacity: 1.0; 
    }
    50% { 
        opacity: 0.3; 
    }
    to { 
        opacity: 1.0; 
    }
}

.arrow {
    height: 1em;
    width: auto;
  }