html, body {
  /* alla olevat kolme rivia pakolliset. 
  muutoin offcanvas-sidebarin liu'uttaminen hajoaa mobiiliselaimissa */
  overflow: hidden;
  height: 100%;
  width: 100%;
}

#sidebar {
  z-index: 1001;
}


#offcanvas-open-button {
  z-index: 1000;
}

#mainmap {
  height: 100vh;
}

@media screen and (max-width: 768px) {
  #mainmap {
    /* valiaikainen mysteerivakio 38px = offcanvasin toggle-buttonin korkeus */
    height: calc(100vh - 38px);
  }
}

.drawnMarker {
  filter: hue-rotate(90deg);
}

.grid-container {
  display: grid;
  grid-row-gap: 1em;
  font-size: medium;
}
